.tag {
  font-weight: 300;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  font-size: 14px;
  padding: 0px 8px;
  letter-spacing: 1px;
}

.tag:hover {
  border: 1px solid silver;
  color: silver;
}
