.tag {
  font-weight: 300;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  font-size: 14px;
  padding: 0px 8px;
  letter-spacing: 1px;
}

.tag--dark {
  border: 1px solid black;
  color: black;
}

.tag--light {
  border: 1px solid white;
  color: white;
}

.tag--light:hover {
  border: 1px solid silver;
  color: silver;
}

.tag--dark:hover {
  border: 1px solid gray;
  color: silver;
}
