.custom-button {
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.custom-button--primary {
  color: white;
  background-color: silver;
}
.custom-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.custom-button--sm {
  font-size: 12px;
  padding: 4px 8px;
}
.custom-button--md {
  font-size: 14px;
  padding: 8px 16px;
}
.custom-button--lg {
  font-size: 16px;
  padding: 12px 24px;
}
